body {
    font-family:"Abel";
    background-color: #E3BD49;
    color:#6B80E3;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Gemunu Libre";
    font-size:20pt;
}
header {text-align: left;}
body {text-align: left;}
#hero img {width: 300px;}

  
  ul li {
    background: #c1d1e2;
    margin: 5px;
  }